# Elastic Beanstalk Files
.elasticbeanstalk
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

# Backend
backend/wp-content/index.php
backend/wp-content/plugins/index.php
backend/wp-content/plugins/hello.php
backend/wp-content/plugins/advanced-custom-fields
backend/wp-content/plugins/akismet
!backend/wp-content/plugins/angular-prerender
backend/wp-content/themes

# Frontend
bower_components
jspm_packages
node_modules